<!DOCTYPE html>

<h3>Liste des patients :</h3> 

<table>
    <thead>
        <th> Nom </th>
        <th> Prenom </th>
    </thead>
    <tr ng-repeat='p in ctrl.p'>
        <td> {{ p.nom }} </td>
        <td> {{ p.prenom }} </td>
        <td> <a ng-href="patients/edit/{{p.id}}"/> Edit </a>
        <td> <input type="button" value="delete" ng-click="ctrl.delete(p)"/> 
    </tr>
 
    
</table>
   
<a ng-href="#/crayon/new"/> Nouveau patient </a>

<br/>

<a href="#/boites">Liste des boites</a>
