<!DOCTYPE html>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8"><h4>Liste des modalités</h4></div>
                    <div class="col-xs-4"><a class="btn btn-primary btn-block" ng-href="#/modalites/new" role="button"> Nouvelle modalité </a></div>
                </div>
            </div>
            <div class="panel-body">
            <table class="table table-striped">
                <thead >
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>PACS</th>
                        <th>Lien</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="m in ctrl.m">
                        <td> {{ m.id}} </td>
                        <td> {{ m.nom}} </td>
                        <td> {{ m.pacs}} </td>
                        <td> {{ m.link}} </td>
                        <td> <a class="btn btn-warning" ng-href="/radiologie/#/modalites/edit/{{m.id}}"><span  class="glyphicon glyphicon-pencil"></span></a></td>
                        <td> <a class="btn btn-danger" ng-click="ctrl.delete(m)"><span  class="glyphicon glyphicon-remove"></span></a></td> 
                    </tr>
            </table>
            </div>
        </div>
    </div>
</div>
