<!DOCTYPE html>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8"><h4>Liste des admissions</h4></div>
                    <div class="col-xs-4"><a class="btn btn-primary btn-block" ng-href="/radiologie/#/patients/new"> Nouveau patient </a></div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead >
                        <tr>
                            <th>ID</th>
                            <th>IPP</th>
                            <th>IEP</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Actes</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in ctrl.p">
                            <td> {{ p.id}} </td>
                            <td> {{ p.ipp}} </td>
                            <td> {{ p.iep}} </td>
                            <td> {{ p.nom}} </td>
                            <td> {{ p.prenom}} </td>
                            <td> <a class="btn btn-success" ng-href="#/patients/{{p.iep}}" ><span  class="glyphicon glyphicon-eye-open"></span> </a></td>
                            <td> <a class="btn btn-warning" ng-href="#/patients/edit/{{p.id}}"><span  class="glyphicon glyphicon-pencil"></span></a>
                            <td> <a class="btn btn-danger" ng-click="ctrl.delete(p)"><span  class="glyphicon glyphicon-remove"></span></a></td> 
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>
